@CHARSET "UTF-8";


body {
  margin: 0px;
}


.blog-user-nav {
  opacity: 0.9;
}


.blog-header-banner {
  padding-top: 30px;
  padding-bottom: 10px;
}


.blog-container {
  max-width: 960px;
  margin: 0px auto;
}
