@CHARSET "UTF-8";


body {
  margin: 0px;
}


.blog-user-nav {
  opacity: 0.9;
}


.blog-header {
  padding-top: 50px;
  padding-bottom: 10px;
}


@media only screen and (min-width : 1020px) {
    .blog-container {
      max-width: 960px;
      margin: 0px auto;
    }
}


@media only screen and (max-width : 1020px) {
    .blog-container {
      max-width: 960px;
      margin: 0px 30px;
    }
}
